.Pokecard {
    width: 250px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.Pokecard-title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.Pokecard-data {
    font-size: 80%;
}

.Pokecard-image {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #eceff1;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.Pokecard img {
    opacity: 0.8;
    transition: all ease 300ms;
}

.Pokecard img:hover {
    opacity: 1;
    transform: scale(1.3);
}

