/* Default css */

 .App {
  text-align: center;
  background-color: #e0ffdf;

}


@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}


/* End of default css */






